/* Google Font -  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


/* Basic TailwindCSS  */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
}

.active {
  background-color: #F5F6F7 !important;
  color: #0D0A19;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 15px 45px;
  width: 244px;
  border-radius: 10px;
}

.drawer-button{
  z-index: 2039399 !important
}